In [9]:
import os

In [ ]:
%%bash
pip install ieugwaspy

In [1]:
from ieugwaspy.constants import option, urls
from ieugwaspy.api import *
from ieugwaspy.query import *
from ieugwaspy.variants import *
import ieugwaspy as igd
import pandas as pd

In [2]:
gwas = igd.gwasinfo()
df = pd.DataFrame.from_dict(gwas, orient='index')

In [30]:
# input query data for searching if nessecary 
query_id = input().split()
target_eqtl = "eQTL"
query_trait = input()  # just a key word
query_rs_float = float(str(input()).replace("rs", ""))
query_rs_full = "rs" + str(int(query_rs_float))

ieu-b-4760
psorias
rs978670

In [ ]:
# optional 
df[(df.sex == "Males") | (df.id == query_id) | (df.trait.str.contains(query_trait, case=False)) | (df.nsnp = query_rs)]

In [20]:
###  tophits 
tophits = pd.DataFrame.from_dict(igd.tophits([query_id])).sort_values(by="p", ascending=True)
#tophits.head()

,position,chr,se,n,p,beta,id,rsid,ea,nea,eaf,trait
29,56865338,12,0.005335,,0.000000e+00,-0.250735,met-d-Gln,rs2657879,G,A,0.182523,Glutamine
22,99359412,10,0.005408,,6.499800e-82,0.103948,met-d-Gln,rs7078003,T,C,0.178480,Glutamine
2,27730940,2,0.004224,,1.599930e-81,0.079257,met-d-Gln,rs1260326,C,T,0.604031,Glutamine
30,47198856,12,0.008206,,1.699810e-60,0.135012,met-d-Gln,rs113674212,A,C,0.068158,Glutamine
4,191740996,2,0.004697,,8.100280e-52,-0.070732,met-d-Gln,rs62182473,T,C,0.265297,Glutamine

In [38]:
# associations
ass = pd.DataFrame.from_dict(igd.associations([query_rs_full],[query_id])).sort_values(by='p', ascending=True) # and other options if ness
#ass.head()

,chr,position,beta,se,p,n,id,rsid,ea,nea,eaf,target_snp,proxy_snp,proxy,target_a1,target_a2,proxy_a1,proxy_a2,trait
0,4,141970964,0.0018,0.002,0.3797,,ieu-b-4760,rs978670,G,T,0.5698,rs978670,rs13147751,True,T,G,C,T,Number of children

In [39]:
##r esults against all traits for one SNP 
phewas = pd.DataFrame.from_dict(igd.phewas([query_rs_full])).sort_values(by='p', ascending=True)
#phewas.head()

,beta,position,n,p,chr,se,id,rsid,ea,nea,eaf,trait
3,-0.061358,141970937,21610,2.761980e-07,4,0.01194,eqtl-a-ENSG00000170153,rs978670,G,T,0.544454,ENSG00000170153
2,0.328800,141970937,,2.643990e-04,4,0.09014,ukb-e-519_CSA,rs978670,G,T,0.681900,"Other diseases of respiratory system, not else..."
0,-0.011300,141970937,1765,5.776970e-04,4,0.00330,met-a-331,rs978670,G,T,0.570900,Stearate (18:0)
1,-0.102700,141970937,,7.655080e-04,4,0.03053,ukb-e-2375_AFR,rs978670,G,T,0.926680,Relative age of first facial hair
4,-0.086300,141970937,3301,8.128310e-04,4,0.02580,prot-a-1443,rs978670,G,T,0.566900,Insulin-like growth factor I

In [ ]:
variant = [i for i in input().split()]
igd.variants_to_rsid(variant)